body { background: #ffffff; margin: 0 auto; text-align: center; font-family: 'Lora', serif; }

.hide { display: none; }

header img#logo { max-width: 70%; }

nav#tgs-main-nav { width: 100%; }
nav#tgs-main-nav ul { list-style-type: none; padding: 0; }
nav#tgs-main-nav li { display: inline; font-weight: bold; background-color: #333; color: #e9e4e5; width: 20%; padding: 0.5em 1.0em 0.5em 1.0em; }
nav#tgs-main-nav li a:link, nav#tgs-main-nav li a:hover, nav#tgs-main-nav li a:visited, nav#tgs-main-nav li a:active { text-decoration: none; color: inherit; }

main { width: 100%; }
main article { font-weight: bold; color: #e9e4e5; }
main article#tgs-intro { background-color: #b3bfef; color: #333; }
main article#tgs-timeline { background-color: #F5F5F5; color: #7687cc; }
main article#tgs-judges { background-color: #b3bfef; color: #333; }
main article .article-wrapper { padding: 3.0em 0 5.0em 0; width: 50%; text-align: center; margin: 0 auto; }

footer { padding: 3.0em 0 5.0em 0; background-color: #333; color: #e9e4e5; font-size: 0.8em; }

@media only screen and (max-width: 1024px) { body { font-size: 2.0em; }
  body article .article-wrapper { width: 90%; } }
@media only screen and (max-width: 600px) { body { font-size: 2.0em; }
  body nav { font-size: 0.6em; } }
