body { background: #ffffff; margin: 0 auto; text-align: center; }

.hide { display: none; }

nav#tgs-main-nav { width: 100%; }
nav#tgs-main-nav ul { list-style-type: none; padding: 0; }
nav#tgs-main-nav li { display: inline; font-family: source-sans-pro, helvetica, arial, sans-serif; font-weight: bold; background: #666; color: #ddd; width: 20%; padding: 0.5em 1.0em 0.5em 1.0em; }

main { width: 100%; }
main article .article-wrapper { max-width: 1024px; width: 100%; text-align: center; margin: 0 auto; padding: 3.0em 0 5.0em 0; }
main article#tgs-intro { background-color: #2F3484; color: #e9e4e5; }
main article#tgs-timeline { background-color: #E20048; color: #e9e4e5; }

footer { padding: 3.0em 0 5.0em 0; background-color: #333; color: #e9e4e5; }
