@mixin border-debug() {
    border: solid 1px #ff0000;
}

@mixin section-padding() {
    padding: 3.0em 0 5.0em 0;
} 

@mixin hide() {
    display: none;
}

@mixin font-pretty-basic() {
    // font-family: source-sans-pro, helvetica, arial, sans-serif;
    font-family: 'Lora', serif;
}

@mixin reset-link() {
    text-decoration: none;
    color: inherit;    
}

body {
    // @include border-debug();
    background: #ffffff;
    // width: 1024px;
    margin: 0 auto;
    text-align: center;
    @include font-pretty-basic();
}

.hide {
    @include hide();
}

nav#tgs-main-nav {
    width: 100%;
    
    ul { 
        list-style-type: none;
        padding: 0;
    }    
    
    li {
        display: inline;        
        font-weight: bold;
        background: #666;
        color: #ddd;
        width: 20%;
        padding: 0.5em 1.0em 0.5em 1.0em;
        
        a {
            @include reset-link();
        }        
    }
}

main {
    width: 100%;
    
    article {
        .article-wrapper {
            // @include border-debug();
            max-width: 1024px;
            width: 100%;
            text-align: center;
            margin: 0 auto;   
            @include section-padding();                    
        }
        
        &#tgs-intro {
            background-color: #2F3484;
            color: #e9e4e5;                
        }
        
        &#tgs-timeline {            
            background-color: #E20048;
            color: #e9e4e5;
        }
    }
    
    
}

footer {
    @include section-padding();
    background-color: #333;
    color: #e9e4e5;
}

